[build]
  command = "npm run build"  # This runs the build command to generate the dist folder
  publish = "dist"  # This tells Netlify where the output of the build command will be located

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Embedder-Policy = "credentialless"
    Cross-Origin-Opener-Policy = "same-origin"