
.navigation-wrapper {
    height: auto !important;
    background: #efefef !important;
}
.navigation-wrapper button span{
    font-size: 1rem !important;
    font-family: Raleway; /* font size and family change for home bar*/
}
.navigation-wrapper button{
    background: #efefef;
    align-items: center;
    text-transform: uppercase;
    color: #4b5742 !important;
    margin-bottom: 11px;
    width: 200px;
    text-align: center;
    font-family: Raleway;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .15em;
   
}
.navigation-wrapper button span:hover{
    color: #75856f;
}

.callMe span:first-child{
    border: 1px solid #ddd;
    background-color: #bbc1b9;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    font-size: 11px !important;
    text-decoration: underline;
}
