.header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  color: pink;
  display: none;
}

.carousal-wrapper img {
  object-fit: cover;
  max-width: fit-content;
  height: 500px;
}


.self-image {
  text-align: center;
  border-radius: 7px;
}

.self-image img {
  border-radius: 10px;
}

.serviceImage {
  cursor: pointer;
}

.bookAppointment {
  background-color: #fff !important;
  color: #4b5742 !important;
  text-decoration: none ;
}

.bookAppointment button:hover {
  background-color: #bbc1b9 !important;
  text-decoration: none ;
}