* {
  padding: 0;
  margin: 0;
}

body,
.app-bar-background {
  background-color: #efefef !important;
  font-family: Raleway;
  font-size: 12px;
}

.App {
  font-family: Raleway;
  margin: 0 auto;
}

.MuiTypography-root {
  font-family: ivymode !important;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  text-transform: none;
}

.footer {
  margin: 0 auto;
  background-color: #bbc1b9;
  margin-top: 16px;
  font-family: Raleway;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.035em;
  line-height: 1.7em;
  text-transform: none;
  color: #4a5742;
}

h3,
h5 {
  color: #4b5742;
  font-style: italic;
}

ul li {
  font-family: "EB Garamond", Sans-serif;
  text-transform: capitalize;
}

.svgIcon svg {
  width: 100px;
  height: 100px;
}

.borderSpacing {
  margin: 2rem auto;
  width: 50%;
}
